# Pandas

In [1]:
import numpy as np
import pandas as pd

## 2. DataFrame

### 1) 생성

In [3]:
data = {
    "국어": [80, 90, 70, 30], 
    "영어": [90, 70, 60, 40], 
    "수학": [90, 60, 80, 70]
}
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [4]:
np.random.seed(2021)
df2 = pd.DataFrame(np.random.randint(40,101,12).reshape(4,3),
                    columns=['국어', '영어', '수학'], index=index)
df2

    국어  영어  수학
춘향  92  61  97
몽룡  40  85  70
향단  62  84  67
방자  69  61  69

In [6]:
# 반복문으로 데이터를 만드는 경우 딕셔너리의 리스트를 만들어 생성


l = []
for i in range(4):
    d = {'국어':np.random.randint(40,101),
        '영어':np.random.randint(40,101),
        '수학':np.random.randint(40,101)}
    l.append(d)
l

[{'국어': 100, '영어': 77, '수학': 66},
 {'국어': 42, '영어': 88, '수학': 75},
 {'국어': 89, '영어': 56, '수학': 90},
 {'국어': 94, '영어': 99, '수학': 92}]

In [7]:
df3 = pd.DataFrame(l, index=index)
df3

     국어  영어  수학
춘향  100  77  66
몽룡   42  88  75
향단   89  56  90
방자   94  99  92

### 2) 인덱싱

In [8]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [9]:
df['국어']      #열선택

춘향    80
몽룡    90
향단    70
방자    30
Name: 국어, dtype: int64

In [10]:
df.국어

춘향    80
몽룡    90
향단    70
방자    30
Name: 국어, dtype: int64

- 열인덱스, 행인덱스

In [12]:
df['국어']['춘향'], df['국어'][0], df.국어[0], df.국어.춘향

(80, 80, 80, 80)

- 슬라이스

In [13]:
df['국어'][:2]      #시리즈

춘향    80
몽룡    90
Name: 국어, dtype: int64

In [14]:
df[['국어','영어']][:2]     #데이터프레임

    국어  영어
춘향  80  90
몽룡  90  70

In [15]:
df[['국어','영어']][:'향단']

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60

In [16]:
df[['국어']][:'향단']

    국어
춘향  80
몽룡  90
향단  70

- loc 인덱서: [행인덱스, 열인덱스]

In [17]:
df.loc['몽룡','국어']

90

In [18]:
df.loc['몽룡'][0], df.loc['몽룡']['국어']

(90, 90)

- iloc인덱서: [행숫자, 열숫자]

In [19]:
df.iloc[1,0]

90

- 값 변경 및 열 추가

In [20]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [21]:
df['국어']['방자'] = 75
df['영어']['방자'] = 82
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  75  82  70

In [22]:
df['과학'] = [30,40,50,60]
df

    국어  영어  수학  과학
춘향  80  90  90  30
몽룡  90  70  60  40
향단  70  60  80  50
방자  75  82  70  60

- 열 삭제

In [23]:
del df['과학']
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  75  82  70

- 행 삭제

In [24]:
del df.loc['방자']
df

AttributeError: __delitem__

In [25]:
df.drop(['방자'])

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80

In [26]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  75  82  70

In [29]:
df.drop(['방자'], inplace=True)
df

KeyError: "['방자'] not found in axis"