In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [15]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.449534 -0.757495  0.081929 -3.031277
2013-01-02 -0.488843 -1.381533  1.779637 -1.182481
2013-01-03  1.004586 -0.878048 -0.877922 -1.794470
2013-01-04  0.386004  0.246598  1.159836 -0.830674
2013-01-05 -0.333433 -0.108447  0.716206 -0.083885
2013-01-06  1.981215  1.002642 -0.695594 -1.108233

In [ ]:
	        A	        B	        C	        D
2013-01-01	1.203664	0.035199	-0.516512	-1.651954
2013-01-02	-0.935893	0.854944	-0.814971	-0.333447
2013-01-03	-2.364223	-2.187468	1.018928	1.252907
2013-01-04	-2.214020	0.361885	-0.390074	-0.497004
2013-01-05	1.387345	-0.443100	-0.540677	-0.370186

In [18]:
df.loc

                   A         B
2013-01-01 -1.449534 -0.757495
2013-01-02 -0.488843 -1.381533
2013-01-03  1.004586 -0.878048
2013-01-04  0.386004  0.246598
2013-01-05 -0.333433 -0.108447
2013-01-06  1.981215  1.002642