In [3]:
import numpy as np
import pandas as pd

In [5]:
# 4.1.1

a = pd.Series([np.random.randint(10,100,4)], 
        index=['가','나','다','라'])
b = pd.Series([np.random.randint(10,100,4)], 
        index=['마','바','사','아'])

a, b

ValueError: Length of passed values is 1, index implies 4.

In [ ]:
# 4.1.2

In [14]:
# 4.1.3

data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [8]:
df['수학']

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [13]:
df[['국어','영어']]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [32]:
df['평균'] = df.mean(axis=1)
df

    국어  영어  수학         평균
춘향  80  90  90  86.835241
몽룡  90  70  60  73.475973
향단  70  60  80  70.136156
방자  30  40  70  46.757437